body { width: 1400px; margin: 0 auto; font-family: times; font-size:16px; }
h1, h2, h3 { text-align: center; }
a { text-decoration: none; } a:hover { text-decoration: underline; }
img { display: block; margin: 0 auto; width: auto; }
footer { text-align: center; }
